In [2]:
import json
import pandas as pd

In [3]:
with open("../results/benchmark_results_log.json") as f:
    data_log = json.load(f)

In [5]:
with open("../results/benchmark_results_om.json") as f:
    data_om = json.load(f)

In [6]:
with open("../results/benchmark_results_p2p.json") as f:
    data_p2p = json.load(f)

In [7]:

# Extract benchmark results
rows = []
for bench in data_log["benchmarks"]:
    row = {
        "Test Name": bench["name"],
        "Event log": bench["extra_info"].get("Event log", "N/A"),
        "Dataset": bench["name"][bench["name"].find("[")+1 : bench["name"].find("]")],
        "Rule id": bench["extra_info"].get("Rule id", "N/A"),
        "Mean Time (µs)": bench["stats"]["mean"],
        "Min Time (µs)": bench["stats"]["min"],
        "Max Time (µs)": bench["stats"]["max"],
        "Std Dev": bench["stats"]["stddev"],
        "|events|": bench["extra_info"].get("|events|", "N/A"),
        "|objects|": bench["extra_info"].get("|objects|", "N/A"),
        "|epA|": bench["extra_info"].get("|epA|", "N/A"),
        "|epB|": bench["extra_info"].get("|epB|", "N/A"),
        "|psi|": bench["extra_info"].get("|psi|", "N/A"),
        "Memory Used (MB)": bench["extra_info"].get("memory_used", "N/A"),
    }
    rows.append(row)

In [ ]:

# Extract benchmark results
for bench in data_om["benchmarks"]:
    row = {
        "Test Name": bench["name"],
        "Event log": bench["extra_info"].get("Event log", "N/A"),
        "Dataset": bench["name"][bench["name"].find("[")+1 : bench["name"].find("]")],
        "Rule id": bench["extra_info"].get("Rule id", "N/A"),
        "Mean Time (µs)": bench["stats"]["mean"],
        "Min Time (µs)": bench["stats"]["min"],
        "Max Time (µs)": bench["stats"]["max"],
        "Std Dev": bench["stats"]["stddev"],
        "|events|": bench["extra_info"].get("|events|", "N/A"),
        "|objects|": bench["extra_info"].get("|objects|", "N/A"),
        "|epA|": bench["extra_info"].get("|epA|", "N/A"),
        "|epB|": bench["extra_info"].get("|epB|", "N/A"),
        "|psi|": bench["extra_info"].get("|psi|", "N/A"),
        "Memory Used (MB)": bench["extra_info"].get("memory_used", "N/A"),
    }
    rows.append(row)

In [ ]:

# Extract benchmark results
for bench in data_p2p["benchmarks"]:
    row = {
        "Test Name": bench["name"],
        "Event log": bench["extra_info"].get("Event log", "N/A"),
        "Dataset": bench["name"][bench["name"].find("[")+1 : bench["name"].find("]")],
        "Rule id": bench["extra_info"].get("Rule id", "N/A"),
        "Mean Time (µs)": bench["stats"]["mean"],
        "Min Time (µs)": bench["stats"]["min"],
        "Max Time (µs)": bench["stats"]["max"],
        "Std Dev": bench["stats"]["stddev"],
        "|events|": bench["extra_info"].get("|events|", "N/A"),
        "|objects|": bench["extra_info"].get("|objects|", "N/A"),
        "|epA|": bench["extra_info"].get("|epA|", "N/A"),
        "|epB|": bench["extra_info"].get("|epB|", "N/A"),
        "|psi|": bench["extra_info"].get("|psi|", "N/A"),
        "Memory Used (MB)": bench["extra_info"].get("memory_used", "N/A"),
    }
    rows.append(row)

In [10]:
df = pd.DataFrame(rows)
df

,Test Name,Event log,Dataset,Rule id,Mean Time (µs),Min Time (µs),Max Time (µs),Std Dev,|events|,|objects|,|epA|,|epB|,|psi|,Memory Used (MB)
0,test_R1_log[dataset0],ContainerLogistics,dataset0,R1,0.000064,0.000062,0.000098,0.000002,2000,845,43,0,0,2.97 KB
1,test_R1_log[dataset1],ContainerLogistics,dataset1,R1,0.000123,0.000120,0.000195,0.000004,4000,1634,77,0,0,2.97 KB
2,test_R1_log[dataset2],N/A,dataset2,N/A,0.000205,0.000193,0.000308,0.000023,N/A,N/A,N/A,N/A,N/A,N/A
3,test_R1_om[dataset0],OrderManagement,dataset0,R1,0.000154,0.000147,0.000208,0.000005,2000,1215,149,0,0,6.38 KB
4,test_R1_om[dataset1],OrderManagement,dataset1,R1,0.000321,0.000299,0.001164,0.000048,4000,2271,314,0,0,12.72 KB
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,test_R4_p2p[dataset2],Procure2Payment,dataset2,R4,0.563874,0.562262,0.566539,0.001911,6000,3785,1616,477,2,127.10 KB
94,test_R4_p2p[dataset3],Procure2Payment,dataset3,R4,0.898016,0.897288,0.899771,0.001036,8000,5057,1918,624,2,127.10 KB
95,test_R4_p2p[dataset4],Procure2Payment,dataset4,R4,1.121637,1.120108,1.126879,0.002936,10000,6251,1918,778,2,152.45 KB
96,test_R4_p2p[dataset5],Procure2Payment,dataset5,R4,1.378193,1.372655,1.383750,0.004242,12000,7508,1918,945,2,152.45 KB
97,test_R4_p2p[dataset6],Procure2Payment,dataset6,R4,2.297463,1.669556,2.986226,0.583745,14000,8708,1918,1096,2,152.45 KB

In [12]:
# Convert to numeric
df["Mean Time (µs)"] = pd.to_numeric(df["Mean Time (µs)"], errors="coerce")
df["|events|"] = pd.to_numeric(df["|events|"], errors="coerce")

In [13]:
average_time = df.groupby(['Dataset', 'Rule id', '|events|'])['Mean Time (µs)'].mean().reset_index()
average_time

      Dataset Rule id  |events|  Mean Time (µs)
0    dataset0      R1      2000        0.000129
1    dataset0      R2      2000        0.025535
2    dataset0      R3      2000        0.026247
3    dataset0      R4      2000        0.037959
4    dataset0      R5      2000        0.038847
..        ...     ...       ...             ...
97   dataset9      R2     20000        0.518982
98   dataset9      R3     20000        1.017915
99   dataset9      R4     20000        0.894939
100  dataset9      R5     20000        1.450311
101  dataset9      R6     20000        1.750766

[102 rows x 4 columns]

In [16]:
average_time = average_time[average_time['|events|'] <= 14000]

In [22]:
average_time = average_time.reset_index()
average_time

    index   Dataset Rule id  |events|  Mean Time (µs)
0       0  dataset0      R1      2000        0.000129
1       1  dataset0      R2      2000        0.025535
2       2  dataset0      R3      2000        0.026247
3       3  dataset0      R4      2000        0.037959
4       4  dataset0      R5      2000        0.038847
5       5  dataset0      R6      2000        0.026540
6       6  dataset1      R1      4000        0.000259
7       7  dataset1      R2      4000        0.084321
8       8  dataset1      R3      4000        0.085830
9       9  dataset1      R4      4000        0.134252
10     10  dataset1      R5      4000        0.134546
11     11  dataset1      R6      4000        0.083222
12     54  dataset2      R1      6000        0.000390
13     55  dataset2      R2      6000        0.182172
14     56  dataset2      R3      6000        0.182260
15     57  dataset2      R4      6000        0.288986
16     58  dataset2      R5      6000        0.290729
17     59  dataset2      R6      6000        0.168896
18     60  dataset3      R1      8000        0.000549
19     61  dataset3      R2      8000        0.296030
20     62  dataset3      R3      8000        0.337647
21     63  dataset3      R4      8000        0.472405
22     64  dataset3      R5      8000        0.518407
23     65  dataset3      R6      8000        0.287147
24     66  dataset4      R1     10000        0.000684
25     67  dataset4      R2     10000        0.400622
26     68  dataset4      R3     10000        0.513662
27     69  dataset4      R4     10000        0.628780
28     70  dataset4      R5     10000        0.834357
29     71  dataset4      R6     10000        0.423832
30     72  dataset5      R1     12000        0.000819
31     73  dataset5      R2     12000        0.478447
32     74  dataset5      R3     12000        0.720317
33     75  dataset5      R4     12000        0.781955
34     76  dataset5      R5     12000        1.162059
35     77  dataset5      R6     12000        0.614658
36     78  dataset6      R1     14000        0.000987
37     79  dataset6      R2     14000        0.560526
38     80  dataset6      R3     14000        0.983686
39     81  dataset6      R4     14000        1.172006
40     82  dataset6      R5     14000        1.610238
41     83  dataset6      R6     14000        0.912020

In [18]:
# Pivot the table to get the required format
df_pivot = average_time.pivot(index="Dataset", columns="Rule id", values="Mean Time (µs)").reset_index()

# Reordering columns
df_pivot.insert(1, "|events|", average_time.groupby("Dataset")["|events|"].first().values)

In [19]:
df_pivot.columns

Index(['Dataset', '|events|', 'R1', 'R2', 'R3', 'R4', 'R5', 'R6'], dtype='object', name='Rule id')

In [20]:
df_pivot

Rule id,Dataset,|events|,R1,R2,R3,R4,R5,R6
0,dataset0,2000,0.000129,0.025535,0.026247,0.037959,0.038847,0.026540
1,dataset1,4000,0.000259,0.084321,0.085830,0.134252,0.134546,0.083222
2,dataset2,6000,0.000390,0.182172,0.182260,0.288986,0.290729,0.168896
3,dataset3,8000,0.000549,0.296030,0.337647,0.472405,0.518407,0.287147
4,dataset4,10000,0.000684,0.400622,0.513662,0.628780,0.834357,0.423832
5,dataset5,12000,0.000819,0.478447,0.720317,0.781955,1.162059,0.614658
6,dataset6,14000,0.000987,0.560526,0.983686,1.172006,1.610238,0.912020

In [ ]:
df_pivot.to_csv("results_average.csv", index=False)